@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  --white: #f3f3f3;
  --black: #111;
  --blue: #3a80e9;
  --grey: #888;
  --darkgrey: #1b1b1b;
  --green: #61c96f;
  --red: #f94141;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif; /* Moved Inter to the first position */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; /* Fixed typo from -moz-DSX to -moz-osx */
  background-color: var(--black);
  color: var(--white);
}

::selection {
  background-color: var(--blue);
  color: var(--white);
}

/* Scrollbar Styles */
::-webkit-scrollbar {
  width: 0.3rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--black);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--blue);
  border-radius: 3rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

a {
  color: var(--white) !important;
  text-decoration: none !important;
}

.grey-wrapper {
  display: block;
  width: 90%;
  background-color: var(--darkgrey);
  margin: 1.5rem auto;
  border-radius: 0.5rem;
  padding: 1rem;
}

.coins-days-flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 1.5rem;
  gap: 2rem;
}

/* Dark Mode Styles */
[data-theme="dark"] {
  --black: #111;
  --white: #f3f3f3;
  --darkgrey: #1b1b1b;
  --blue: #3a80e9;
  --grey: #888;
}

/* Light Mode Styles */
[data-theme="light"] {
  --black: #f3f3f3; /* Light background color */
  --white: #111; /* Dark text color */
  --darkgrey: #d9d9d9; /* Lighter grey for better contrast */
  --blue: #3a80e9;
  --grey: #555;
}
